@model IEnumerable<CORE_CRUD.Models.Employee>

@{
    ViewData["Title"] = "Index";
}
<style>
    .row.center {
        display: flex;
        align-items: center;
    }
</style>
<div class="form-horizontal">
    <div class="col-md-12 text-center">
        @foreach (var item in Model)
        {
            <div class="col-md-3" style="background-color: #e5eae5; margin: 10px">
                <h2>@item.FullName</h2>
                <div class="form-horizontal">
                    @Html.ActionLink("View", "Employees", new { id = item.EmployeeId }, new { @class = "btn btn-primary" }) |
                    @Html.ActionLink("Edit", "Employees", new { id = item.EmployeeId }, new { @class = "btn btn-primary" }) |
                    @Html.ActionLink("Delete", "Employees", new { id = item.EmployeeId }, new { @class = "btn btn-danger" })
                </div>
            </div>
        }
    </div>
</div>

